/* Responsive */
@media (max-width: 800px) {

    html, body {
        height: 100%;
        margin: 0;
        font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .container__body {
        flex: 1;
        height: 100%;
        overflow-y: auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
    }

    .container__body_navbar {

        flex: 0.12;
        background-color:var(--container-colonneUn-bgcolor);
        color: var(--container__colonneDeux-header-color);
        display: flex;
        flex-direction: row;

    }

    .container__body_navbar-colonneUn {
        flex: 1;
        margin-left: 1em;
    }

    .container__body_navbar-colonneDeux {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1em;
    }

    .checkbox {
        opacity: 0;
        position: absolute;
    }
      
    .checkbox-label {
        background-color: #111;
        width: 40px;
        height: 17px;
        border-radius: 50px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    .fa-moon {color: #f1c40f;}
      
    .fa-sun {color: #f39c12;}
      
    .checkbox-label .ball {
        background-color: #fff;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }
      
    .checkbox:checked + .checkbox-label .ball {
        transform: translateX(24px);
    }

    .container__body_contenu {
        flex: 1;
        background-color:var(--contenu__body-color-mobile);
        height: 100%;
        overflow-y: auto;
        padding-left: 1em;
        padding-right: 1em;
    }

    .container__navbar {
        flex: 0.1;
        background-color: var(--container-colonneUn-bgcolor);
        display: flex;
        align-items: center;
        justify-content: center;
    }

}