html, body {
    height: 100%;
    margin: 0;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container__colonneUn {
    flex: 0.05;
    background-color: var(--container-colonneUn-bgcolor);
}

.container__colonneDeux {
    flex: 0.18;
    background-color: var(--container-colonneDeux-bgcolor);
    display: flex;
    flex-direction: column;
}

.container__colonneDeux-header {
    flex: 0.15;
    border-bottom: var(--container__colonneDeux-header-borderBottom);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--container__colonneDeux-header-color);
}

.container__colonneDeux-body {
    flex: 2;
    height: 100%;
    overflow-y: auto;
}

.contenu__body {
    margin-left: 1em;
    margin-right: 10em;
    color: var(--contenu__body-color);
    text-align: justify;
}

.contenu__body_accueil {
    text-align: center;
    padding: 15em;
}

.container__colonneDeux-footer {
    flex: 0.27;
    border-top: var(--container__colonneDeux-footer-borderTop);
    color: var(--container__colonneDeux-footer-color);
    font-size: 16px;
    text-align: center;
}

.container__colonneTrois {
    flex: 1;
    background-color: var(--container__colonneTrois-bgColor);
    display: flex;
    flex-direction: column;
}

.container__colonneTrois-header {
    flex: 0.18;
    border-bottom: var(--container__colonneTrois-header-borderBottom);
    text-transform: uppercase;
    color: var(--container__colonneTrois-header-color);
    display: flex;
    flex-direction: row;
}

.header__colonneUn {
    flex: 1;
    margin-left: 1em;
}

.header__colonneDeux {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1em;
}

.container__colonneTrois-body {
    flex: 2;
    height: 100%;
    overflow-y: auto;
}

.container__colonneTrois-footer {
    flex: 0.27;
    color: var(--container__colonneTrois-footer-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 0.8em;
    border-radius: 2em;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    border: var(--hr-border);
}

.article {
    padding-top: 0.1em;
    padding-left: 1em;
    color: #8E9297;
    border-bottom: var(--article-borderBottom);
    cursor:pointer;
}

.article .article__titre {
    font-size: 20px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--webkit-scrollbar-track-bgColor);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--webkit-scrollbar-thumb-bgColor);
}

.form-control {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    background-color: var(--form-control-bgColor);
    height: 2.5em;
    border-radius: 2em;
    border: var(--form-control-border);
    padding: 0.5em;
    font-size: 15px;
    color: var(--form-control-color);
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    background-color: var(--badge-bgColor);
    color: var(--badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.parentService {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.divService1 { grid-area: 1 / 1 / 2 / 2; }
.divService2 { grid-area: 1 / 2 / 2 / 3; }
.divService3 { grid-area: 1 / 3 / 2 / 4; }

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 1 / 5 / 2; }
.div11 { grid-area: 4 / 2 / 5 / 3; }
.div12 { grid-area: 4 / 3 / 5 / 4; }

a {
    color: var(--a-color);
    text-decoration: none;
}

.checkbox {
    opacity: 0;
    position: absolute;
}
  
.checkbox-label {
    background-color: #111;
    width: 40px;
    height: 17px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.fa-moon {color: #f1c40f;}
  
.fa-sun {color: #f39c12;}
  
.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
  
.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

.parentApp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.app1 { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
}
.app2 { grid-area: 1 / 2 / 2 / 3; }
.app3 { grid-area: 1 / 3 / 2 / 4; }
.app4 { grid-area: 1 / 4 / 2 / 5; }
.app5 { grid-area: 1 / 5 / 2 / 6; }